{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block head %}
  {{ super() }}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,
      shrink-to-fit=no">
  <meta name="description" content="Formulario de login con Bootstrap">
  <meta name="author" content="Parzibyte">
  <title>Formulario de login con Bootstrap</title>
  <!-- Cargar el CSS de Boostrap-->
  <link href="./css/bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
{% if msj %}
  <div class="alert alert-danger" role="alert">
    {{msj}}
  </div>
{% endif %}
          <main role="main" class="container my-auto">
              <div class="row ">
                  <div id="login" class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-12  border border-danger">
                      <h2 class="text-center">Iniciar session</h2>
                      <div class="d-grid gap-2 col-6 mx-auto">
                          <a class= "mb-2 btn btn-secondary" href="{{url_for('auth_login_google')}}">Ingresar con google</a>
                      </div>

                      <img class="img-fluid mx-auto d-block rounded"
                       src="https://picsum.photos/id/870/300/200" />

                      <form  action="{{ url_for('auth_authenticate') }}" method="POST">
                          <div class="form-group mt-2">
                              <label for="email">Email</label>
                              <input id="email" name="email"
                                  class="form-control" type="text"
                                  placeholder="Correo electrónico">
                          </div>
                          <div class="form-group mt-2">
                              <label for="password">Contraseña</label>
                              <input id="password" name="password"
                                  class="form-control" type="password"
                                  placeholder="********">
                          </div>
                          <div class="text-center">
                          <button type="submit" class="btn-lg btn-outline-success mb-2 mt-2 ">
                              Ingresar
                          </button>
                          </div>
                              <a href="#">Crear una cuenta</a>
                      </form>
                  </div>
              </div>
          </main>
{% endblock %}
