{% extends "layout.html" %}
{% block title %}Editar usuario{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="alert alert-primary" role="alert">
    {{msj}}
</div>
  <h1>Editar un usuario</h1>
  <form class="row g-3" action="{{ url_for('user_modification',user_id = user.id)}}" method="POST">
    <div class="col-md-6">
      <label for="user" class="form-label">Usuario</label>
      <input type="text" class="form-control" id= "user" name ="user" placeholder={{user.username}}>
    </div>
    <div class="col-md-6">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="password" name = "password" placeholder={{user.password}}>
    </div>
    <div class="col-md-12">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id= "email" name ="email" placeholder={{user.email}}>
    </div>
    <div class="col-12">
      <label for="name" class="form-label">Ingrese su nombre </label>
      <input type="text" class="form-control" id= "name" name ="first_name" placeholder={{user.first_name}}>
    </div>
    <div class="col-12">
      <label for="last_name" class="form-label">Ingrese su apellido </label>
      <input type="text" class="form-control" id= "last_name" name ="last_name" placeholder={{user.last_name}}>
    </div>
    <div class="text-center col-md-12 mb-1">
    <label for="role">Seleccione el rol del usuario:</label>
      <select class="form-control text-center" id="role" name="role">
          <option >{{value[0]}} </option>
          <option >{{value[1]}}</option>
          <option >{{value[2]}}</option>
      </select>
    </div>
    <div class="d-grid gap-1">
      <button type="submit" class="btn btn-success"  onclick="return confirm('¿Estas seguro de modificar al usuario {{user.user}}?');">Modificar</button>
    </div>

    <button type="reset" class="btn btn-secondary" >Limpiar</button>
  </form>
    <div>
        <a href="{{ url_for('user_index') }}" class="btn btn-danger " >Volver</a>
    </div>
{% endblock %}
