{% macro render_paginate(class, index_route='home') -%}
<a href="{{ url_for(index_route, page=class.prev_num) }}" class="btn btn-outline-dark {% if class.page == 1 %}disabled{% endif %}">
    &laquo;
  </a>

{% for page_num in class.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
        {% if class.page == page_num %}
            <a href="{{ url_for(index_route, page=page_num) }}" class="btn btn-dark">
                {{ page_num }}
            </a>
        {% else %}
            <a href="{{ url_for(index_route, page=page_num) }}" class="btn btn-outline-dark">
                {{ page_num }}
            </a>
        {% endif %}
    {% endif %}
{% endfor %}
<a href="{{ url_for(index_route, page=class.next_num) }}" class="btn btn-outline-dark {% if class.page == class.pages %}disabled{% endif %}">
    &raquo; </a>
</div>
<p class="text-right mt-3">
  Pagina {{ class.page }} de {{ class.pages }}
</p>

{%- endmacro %}